body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
}

a {
  color: #FFFFFF;
}
nav{
  color: #FFFFFF;
}
div{
  color: #FFFFFF;
}
span{
  color: #FFFFFF;
}
li{
  color: #FFFFFF;
}